:root {
    --yellow: rgb(255, 198, 42);
    --black: black;
    --orange: orange;
}
html {
    box-sizing: border-box;
    font-weight: 700;
    color: var(--black);
}
body {
    background: linear-gradient(to right, var(--orange),var(--black));
    margin: 20px;
}
.wrapper {
    display: grid;
    gap: 20px;
}
.top {
    display:grid;
    gap: 20px;
    grid-template-areas: 
    "party party cta1"
    "party party cta2"
}

.party {
    grid-area: party;
    min-height: 500px;
    background-image: url(../img/444433139_07f009d661_b.jpg);
    background-size: cover;
    background-position-y: -8rem;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}
.party > * {
    background: var(--yellow);
}
.cta {
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.cta1 {
    grid-area: cta1;
}
.cta2 {
    grid-area: cta2;
}
.price {
    font-size: 2.5rem;
    font-weight: 300;
}
.cta p {
    margin: 0;
}

button {
    background: var(--yellow);
    border: 0;
    padding: 10px;
}
.menu ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a {
    background: var(--yellow);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 10px;
}
/*hide menu button*/
[aria-controls="menu-list"] {
    display: none;
}

.features {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.feature {
    background: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 4px rgb(53, 53, 53);
}
.feature .icon {
    font-size: 3rem;
}
.feature p {
    color: rgba(0,0,0,0.5)
}
.foodpic {
    width: 400px;
}
.about {
    background: white;
    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 400px 1fr;
    align-items: center;
}
.gallery {
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.gallery img{
    width: 100%;

}.gallery h2 {
    display: grid;
    grid-column: 1 /-1;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}
.gallery h2::before{
    display: block;
    content: "";
    height: 20px;
    background: linear-gradient(to left, var(--yellow), transparent);
}
.gallery h2::after{
    display: block;
    content: "";
    height: 20px;
    background: linear-gradient(to right, var(--yellow), transparent);
}
@media (max-width: 1000px) {
    .menu {
        order: -1;
    }
    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 20px;
    }
    [aria-expanded="false"] .close {
        display: none;
    }
    [aria-expanded="true"] .open {
        display: none;
    }

    .menu ul {
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }

    [aria-expanded="true"] ~ ul {
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
        transition: all 0.5s;
    }
    
}
@media (max-width: 780px){
    body {
        margin: 0;
    }

    .top{
        grid-template-areas:
        "party party"
        "cta1 cta2"
    }
    .about {
        grid-template-columns: 1fr;
    }
    .about img {
        width: 85%;
    }
}

@media (max-width: 580px) {
    .top {
        grid-template-areas:
        "party"
        "cta1"
        "cta"
    }
}