:root {
    --yellow: yellow;
    --black: black;
    --orange: orange;
}
html {
    box-sizing: border-box;
    font-weight: 700;
    color: var(--black);
}
body {
    background: linear-gradient(to right, var(--orange),var(--black));
    margin: 20px;
}
.top {
    display:grid;
    gap: 20px;
    grid-template-areas: 
    "party party cta1"
    "party party cta2"
}

.party {
    grid-area: party;
    min-height: 450px;
    background-image: url(../img/444433139_07f009d661_b.jpg);
    background-size: cover;
    background-position-y: -10rem;
}
.cta {
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.cta1 {
    grid-area: cta1;
}
.cta2 {
    grid-area: cta2;
}
.price {
    font-size: 2.5rem;
    font-weight: 300;
}
.cta p {
    margin: 0;
}